.App {
  text-align: center;

}

.App-header {
  background-color: #00d8ff;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #00d8ff;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
  margin-bottom: 0px;
}

.MuiTableCell-head {
  font-weight: bolder !important; 
}

/* Commented out cards since I'm using tables. */

/* .card {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 650px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
  background: #ffffff; 
  color: black;
}

.card:hover {
  box-shadow: 10px 10px 30px -13px rgba(0,0,0,0.65);
  transform:scale(1.1)
}

@media only screen and (max-width: 415px) {
  .card {
    width: 300px;
    font-size: smaller;
  }
} */