.App {
  text-align: center;

}

.App-header {
  background-color: #00758f;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #00758f;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #00efff;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  width: 650px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(37,101,191,1) 11%, rgba(0,209,255,1) 51%, rgba(0,106,255,1) 91%); 
  color: white;
}

.card:hover {
  box-shadow: 10px 10px 30px -13px rgba(0,0,0,0.65);
  transform:scale(1.1)
}

@media only screen and (max-width: 415px) {
  .card {
    width: 300px;
    font-size: smaller;
  }
}